@charset "utf-8";
// If need, change your variables before importing Bulma
// $title-color: #ff0000;
@import "~bulma/bulma.sass";

.navbar.is-link,
.hero.is-link {
  background: rgb(35, 35, 35) !important;
  color: rgb(240, 240, 240) !important;
}

.navbar-item:hover,
.navbar-item:focus {
  color: rgb(208, 255, 0) !important;
  background: none !important;
}

/* Header */
h1 {
  span {
    display: block;
    margin-left: 15px;
    font-size: 0.75em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.area {
  position: absolute;
  height: 100%;
  width: 100%;
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(208, 255, 0);
    animation: animate 25s linear infinite;
    bottom: -150px;

    &:nth-child(1) {
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }
    &:nth-child(2) {
      left: 10%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
    }

    &:nth-child(3) {
      left: 70%;
      width: 20px;
      height: 20px;
      animation-delay: 4s;
    }

    &:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
    }

    &:nth-child(5) {
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
    }

    &:nth-child(6) {
      left: 75%;
      width: 110px;
      height: 110px;
      animation-delay: 3s;
    }

    &:nth-child(7) {
      left: 35%;
      width: 150px;
      height: 150px;
      animation-delay: 7s;
    }

    &:nth-child(8) {
      left: 50%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 45s;
    }

    &:nth-child(9) {
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
    }

    &:nth-child(10) {
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
    }

    @keyframes animate {
      0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
      }

      100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
      }
    }
  }
}



/* WorkExpirience */
article.work-expirience {
  padding: 0 20px 40px;
  h2 {
    color: #3aceb2;
    svg {
      color: rgb(29, 150, 127);
    }
  }
  table {
    width: 100%;
    table-layout: fixed;
    tr {
      td:nth-child(1) {
        width: 70%;    
        text-align: left;
      }
      td:nth-child(2) {
        width: 30%;
      }
    }
  }
}

article.milestones {
  padding: 0 20px 40px;
  h2 {
    color: #ffd900;
    svg {
      color: #ffbb00;
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
    tr {
      td:nth-child(1) {        
        width: 90%;
        div {
          display: flex;
          align-items: center;
          img {
            max-height: 70px;
            margin-right: 10px;
          }
          p {
            text-align: left;
          }
        }
      }
      td:nth-child(2) {
        // width: 30%;
      }
    }
  }
}

article.skill-tile {
  border-radius: 5px;
  margin: 5px;
  padding: 24px !important;
  h3 {
    word-break: normal;
    margin-top: 2px;
    color: #2ebdff;
    svg {
      color: #0281bb;
      margin-right: 10px;
    }
  }
  ul.list {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    .list-item {
      border: none;
      font-size: 1.2em;
      font-weight: 400;
      &::before,
      &::after {
        color: rgba(0, 0, 0, 0.1);
        font-weight: bold;
      }
      &::before {
        content: "{ ";
      }
      &::after {
        content: " }";
      }
    }
  }
}

.footer {
  a {
    margin-left: 20px;
    font-size: 0.75em;
    &.strava {
      color: #fd7702;
      &:hover {
        color: #fd4d02;
      }
    }

    &.linkedin {
      color: #3181dd;
      &:hover {
        color: #2767b2;
      }
    }

    &.github {
      color: #a300a3;
      &:hover {
        color: #800080;
      }
    }
  }
}
